<link rel="apple-touch-icon" href="{{ site.icon | relative_url }}">
<link rel='icon' type='image/svg+xml' href="{{ '/assets/favicons/favicon.svg' | relative_url }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicons/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicons/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ '/assets/favicons/site.webmanifest' | relative_url }}">
<link rel="mask-icon" href="{{ '/assets/favicons/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ '/assets/favicons/favicon.ico' | relative_url }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{ '/assets/favicons/browserconfig.xml' | relative_url }}">
<meta name="theme-color" content="#ffffff">



