{% assign menu = site.data.menu %}

{% if menu %}
  <nav class="site-navigation" role="navigation">
    <ul>
      <li>
        <a href="{{ '/' | prepend: site.baseurl }}">
          Home
        </a>
      </li>
    {% for item in site.data.menu %}
      <li {% if page.url == item.url %}class="active"{% endif %}>
        {% if item.url contains 'http' %}
          <a href="{{ item.url }}">
            {{ item.title }}
          </a>
        {% elsif item.button == "toggle" %}
            <a href='javascript:
                    var isDarkmode = localStorage.getItem("isDarkmode") === "true";
                    document.documentElement.style.setProperty("--bg-color", isDarkmode ? "#fede00":"black"); 
                    document.documentElement.style.setProperty("--text-c", isDarkmode ? "#black":"white"); 
                    document.documentElement.style.setProperty("--post-color", isDarkmode ? "white":"black"); 
                    isDarkmode = !isDarkmode;
                    localStorage.setItem("isDarkmode", isDarkmode);'>
                    DarkMode</a>
        {% else %}
          <a href="{{ item.url | prepend: site.baseurl }}">
            {{ item.title }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </nav>
{% endif %}