<li>
  <a href="{{ chapter.url | absolute_url }}" class="post-link">
    <div class="post-link__heading">
      {% unless chapter.title == "" %}
          <h1 class="post-link__title">      
            {{ chapter.title }}
              <span class="post-date">
                {{ chapter.chapter }}
              </span>
          </h1>
      {% else %}
        {% include post-excerpt.html %}
      {% endunless %}
      {% if chapter.title != "" and site.show_excerpts == true %}
        {% include chapter-excerpt.html %}
      {% endif %}
    </div>
  </a>
</li>