article > * {
  margin: auto;
  max-width: 36rem;
}

article > h1 {
  font-size: 2em;
  max-width: 48rem;
  padding: 2em 0;
  text-align: center;
}

article p {
  text-align: justify;
  text-indent: 1.5em;
  text-justify: inter-word;
}

article p:first-of-type {
  text-indent: 0;
}

blockquote {
  border-left: 4px solid $brand-color;
  margin: 1em auto;
  font-style: italic;
  > * {
    padding: 0 1.5em;
  }
}

.article-meta {
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: right;
}

.back-link {
  display: inline-block;
  padding: $spacing-unit;
  text-decoration: none;
}