article > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 36rem;
  padding: 0 $spacing-unit;
}

article > h1 {
  font-size: 2em;
  max-width: 48rem;
  padding: 2em 0;
  text-align: center;
}

article p {
  text-align: justify;
  text-indent: 1.5em;
  text-justify: inter-word;
}

article p:first-of-type,
article h2 + p {
  text-indent: 0;
}

article p > img {
  margin-left: -1em;
  display: flex;
  max-width: 100%;
  height: auto;
  margin: 2em auto;
}

.article-meta {
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: right;
}

.back-link {
  display: inline-block;
  font-size: .75em;
  padding: $spacing-unit;
  text-decoration: none;
  text-transform: uppercase;
}