body {
  color: $text-color;
  font-family: "EB Garamond", Garamond, "Times New Roman", serif;
  font-size: 1.3125em;
  line-height: 1.5;
}

h2 {
  font-size: 2em;
  margin: 1em auto;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  margin: 1.3333em auto;
  text-align: center;
}

h4 {
  font-size: 1.25em;
  font-style: italic;
  margin: 1.875em auto;
  text-align: center;
}

h5 {
  font-size: 1em;
  font-style: italic;
  margin: 2em auto;
  text-align: center;
}

h6 {
  font-size: .875em;
  font-style: italic;
  margin: 2.25em auto;
  text-align: center;
}

a {
  color: $text-color;
}

blockquote {
  margin: 2em auto;
  opacity: .8;
  > * {
    padding: 0 1.5em;
  }
}

blockquote.epigraph {
  font-style: italic;
}

small {
  font-size: .75em;
}

p > cite {
  display: block;
  text-align: right;
}

hr {
  border: 0;
  height: 0;
  @include divider;
  margin: 4em 0;
}

.divided::after {
  content: "";
  @include divider;
}

.home {
  max-width: 24em;
  margin: auto;
  padding: 4em 1em;
}

.home h1 {
  font-size: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.post-date {
  color: $muted-text-color;
  display: block;
  font-size: .825em;
  white-space: nowrap;
  text-transform: uppercase;
  .post-link & {
    padding: .5em 0;
  }
}

.site-credits {
  margin: 2em auto;
  padding: 0 2em;
  text-align: center;
}