.site-masthead {
  background: $brand-color;
  box-sizing: border-box;
  min-height: 100vh;
  padding: $spacing-unit * 2;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.site-masthead h1 {
  font-size: 3em;
  margin-bottom: .125em;
  @media (min-width: $on-tablet) {
    font-size: 6em;
  }
}

.site-masthead h2 {
  color: $muted-text-color;
  font-size: 1.5em;
  margin: 0;
  @media (min-width: $on-tablet) {
    font-size: 3em;
  }
}

.site-navigation {
  position: absolute;
  bottom: .75em;
  left: 2em;
  right: 2em;
}

.site-navigation ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-navigation li {
  list-style: none;
  font-size: .875em;
  font-variant: small-caps;
  margin: 0;
}

.site-navigation a {
  display: block;
  padding: .25em .5em;
  text-decoration: none;
}