$brand-color:         #f2e300;
$text-color:          #0b0404;
$muted-text-color:    #79785b;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           928px;
$on-desktop:          1024px;