$brand-color:         #285c1b;
$highlight:           lighten($brand-color, 12%);
$text-color:          #0b0404;
$post-color:          #ffffff;
$muted-text-color:    #c5c59e;
$font-family:         "Nanum Myeongjo", "Nomo Serif KR", serif, "EB Garamond", Garamond, "Times New Roman";

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;