---
layout: default
---

<a href="{{ "/" | prepend: site.baseurl }}" class="back-link">
  &#10094; Home
</a>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <h1 class="post-title divided p-name" itemprop="name headline">
    {{ page.title }}
  </h1>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-meta">
    {% if page.author %}
      <div itemprop="author">{{ page.author }}</div>
    {% endif %}
    <time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
  </div>

  {% if site.disqus.shortname %}
    {% include disqus-comments.html %}
  {% endif %}

</article>
