<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ site.title }}{% if page.title and page.title != "" %} &mdash; {{ page.title }}{% endif %}</title>
    {% if site.description %}<meta name="description" content="{{ site.description }}">{% endif %}  

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}?{{ site.time | date: '%s%N' }}">
    {% include favicons.html %}

  </head>
  <body class="welcomepage">
    <img src="{{ '/assets/images/logo-izu.svg' | relative_url }}" alt="Izkustanford University" />
  </body>
</html>
